body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

#bar {
  width: 300px;
  background-color: #eeeeee;
  margin-bottom: 30px;
}

#progress {
  width: 0%;
  height: 30px;
  background-color: blue;
}
