body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.fa {
  font-size: 72px;
}

.fa-star-o:before {
  content: "\f006";
  color: #5f6368;
}

.fa-star:before {
  content: "\f005";
  color: #d56e0c;
}

#display-star {
  font-size: 36px;
}
